{
  "image_configuration": {
    "dither_algorithm": "2",
    "layout_rotation": "0",
    "opaque_image_format": "RGB565",
    "nonopaque_image_format": "L8_ARGB8888",
    "section": "ExtFlashSection",
    "extra_section": "ExtFlashSection",
    "alpha_dither": "yes",
    "images": {
      "BackgroundLeft.png": {
        "format": "L8_ARGB8888"
      },
      "BackgroundRight.png": {
        "format": "L8_ARGB8888"
      },
      "BatteryDrainOut.png": {
        "format": "L8_RGB888"
      },
      "BatteryIcon.png": {
        "format": "L8_RGB888"
      },
      "BrakeSystemAlert.png": {
        "format": "L8_RGB888"
      },
      "CoolantTemperatureWarning.png": {
        "format": "L8_RGB888"
      },
      "ElectronicErrorMessage.png": {
        "format": "L8_RGB888"
      },
      "EngineRotationFlipped.png": {
        "format": "L8_ARGB8888"
      },
      "FingerscanLoginStatus.png": {
        "format": "L8_RGB888"
      },
      "Gen_Motorcycle.png": {
        "format": "L8_RGB888"
      },
      "HighBeamActivated.png": {
        "format": "L8_RGB888"
      },
      "KeylessIgnitionKeyDetection.png": {
        "format": "L8_RGB888"
      },
      "MainGo.png": {
        "format": "L8_RGB888"
      },
      "MainReverse.png": {
        "format": "L8_RGB888"
      },
      "ModeContainer.png": {
        "format": "L8_RGB888"
      },
      "SeinLeft.png": {
        "format": "L8_ARGB8888"
      },
      "SeinRightFlipped.png": {
        "format": "L8_ARGB8888"
      },
      "SignalIcon.png": {
        "format": "L8_RGB888"
      },
      "SmartphoneMirroringStatus.png": {
        "format": "L8_RGB888"
      },
      "SpeedLevel.png": {
        "format": "L8_ARGB8888"
      },
      "TripContainer.png": {
        "format": "L8_RGB888"
      }
    }
  },
  "text_configuration": {
    "remap": "yes",
    "a4": "yes",
    "binary_translations": "no",
    "binary_fonts": "no",
    "framebuffer_bpp": "16",
    "font_format": "0"
  }
}